.signup-container {
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
  border-radius: 15px;
  display: -ms-flexbox;
  display: flex;
  position: static;
  margin-top: 80px;
  max-width: 840px;
  display: flex;
}


.signup-left-col {
    background-image: linear-gradient(135deg,#fff,#f2f2f2);
    border-radius: 15px 0 0 15px;
    border-right: 1px solid #e6e6e6;
    min-height: 100%;
    padding: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 400px;
}

.signup-right-col {
  padding: 20px 40px;
  width: 100%;
  padding-bottom: 100px;
  text-align: center;
  position: relative;
}


.signup-logo {
  height: 40px;

}


.signup-testimonial {
  font-size: .9em;
  line-height: 1.8;
  color: rgba(0,0,0,.6);
}


.signup-hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid rgba(0,0,0,.2);
}


.signup-testimonial-name {
  font-weight: 500;
    font-size: .9em;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    margin-top: 20px;
    margin-bottom: -2px;
    color: rgba(0,0,0,.6);
}

.signup-testimonial-title {
    font-size: .85em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
    color: rgba(0,0,0,.6);
}


.signup-separator {
  text-align: center;
  color: rgba(0,0,0,.4);
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 600;
}


.hr-text {
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background:rgba(0,0,0,.4);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: rgba(0,0,0,.4);
  background-color: #fff
}

.signup-label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 15px;
  text-align: left;
}


.signup-label:before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun,sans-serif;
  line-height: .9;
  content: "*";
}

.signup-label-error {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 15px;
  text-align: left;
  color: red;
  margin-top: 0px;
  margin-bottom: 2px;
}

.input {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 4px 11px;
    color: #1f1f30;
    font-size: 16px;
    line-height: 24px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .2s;
}


.input:focus {
  border-color: #47c2ff;
  border-right-width: 1px!important;
}


.signin-button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  line-height: 23px;
  padding: 5px auto;
}


.signup-disclaimer {
  font-size: 12px;
  line-height: 18px;
  max-width: 200px;
  margin-left: 50px;
  color: #7f7f7f;
  margin-top: 24px;
  text-align: left;
}

.disclaimer-container {
  max-width: 100px;
}


.flex {
  display: flex;
}


.signup-bottom-text {
  text-align: left;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  height: 90px;
}


.text-center {
  text-align: center;
  font-weight: 600;
}


.signup-name-container {
  flex-basis: flex;
}


.signup-name {
width: 40%;
display: flex;
}

.signup-with-email-text {
  cursor: pointer;
  color: #1264a3;
  display: inline-block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 16px;
}

.submit-btn-spinner {
  margin: 0 auto;
  height: 45px;
  margin-top: -8px;
}

.spinner-google {
  margin-top: -12px;
}

.Toastify__toast {
padding: 10px 20px !important;
line-height: 20px !important;
}
