* {
  box-sizing: border-box;
}
.add-item-container {

    box-shadow: 0 0 10px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
    border-radius: 4px;
    background-color: white;
    margin-top: 100px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
}
.add-item-header {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}


.input-header {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 20px;
  margin-bottom: 2px;
  text-align: left;
}

.input-description {
  color: grey;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.button {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
  border-radius: 4px;
    white-space: nowrap;
    text-align: center;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(135deg,#A158FF,#522BD4);
    color: #fff;
    padding: 11px 27px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.button:hover {
    box-shadow: 1px 2px 12px 0 rgba(0,0,0,.2);
}


.Container {
    display: flex;
    overflow: inherit;
    height: 100vh;
    position: relative;
    backface-visibility: hidden;
    will-change: overflow;
    margin: 0;
    padding: 0;
}
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.Left,
.Middle,
.Right {
    /* overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; */
}

/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/

/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
.Left {
    /* background-image: linear-gradient(135deg,#fff,#f2f2f2); */
    color: #6D6DA8;
    width: 240px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 240px;
    flex: 0 0 240px;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-left: 0;
    transition: margin-left .2s ease-out;
    overflow-y: auto;
    box-shadow: inset -5px 0 15px rgba(0,0,0,.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 1px solid #dcdcdc;
    background-color: #f7f8fa;
    transition: .2s;
    box-sizing: content-box;

}

.welcome-greeting {
  display: inline-flex;
  font-weight: 600;
  padding-left: 20px;
  color: #1f1f30;
  width: 100%;
  margin: 0;
  cursor: pointer;
  width: 100%;
  padding-bottom: 10px;
}

.welcome-greeting:hover {
  background-color: #EEE;
}

.left-col-settings {
  width: 240px;
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  margin-top: 100px;
  background:#151b26;
}

.left-col-toggle-menu  {
  position: absolute;
  z-index: 1;
  top: 65px;
  left: 15px;
  width: 210px;
  border: 1px solid #ddd;
  padding: 10px 0;
  max-height: 600px;
  box-shadow: 0 3px 6px rgba(0,0,0,.4);
  background: white;
  border-radius: 4px;
  margin: 0;
}

.down-caret {
  display: flex;
  font-size: 12px;
  line-height: 5px;
  font-weight: 400;
  color: lightgrey;
  margin-top: 40px;
  padding-left: 10px;
}

.leftcol-user-img {
  margin-left: 0px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-top: 24px;
  margin-right: 18px;
}

.leftcol-dashboards {
  color: #1f1f30;
  font-size: 12px;
  margin: 20px;
  margin-bottom: 4px;
  border-bottom: 1px solid lightgrey;
}

.leftcol-dashboard-item {
  cursor: pointer;
    padding: 5px 20px;
    border-radius: 0;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    color: #1f1f30;
    font-size: 14px;
    line-height: 20px;
}

.leftcol-new-dashboard {
  color: grey;
}

.leftcol-new-dashboard:hover {
  color: #1f1f30;
}

.leftcol-dashboards-container {
  margin: 0;
}
.leftcol-name {
  margin-top: 30px;
}


.leftcol-toggle-item {
  font-size: 14px;
    padding: 4px 15px;
    font-weight: 400;
    cursor: pointer;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    text-align: left;
    color: #333;
}

.leftcol-toggle-item:hover {
  background-color: #fafafa;
}


.middle-max-width {
  max-width: 1150px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.Middle {
    flex: 1;
    background-color: white;
    margin: 0 auto;

    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

}


.is-collapsed {
  margin-left: -244px;
}





.left-col-menu-item:hover {
  background-color: rgba(44,167,255,.1)
}

.left-col-menu-active {
  background-color: #2ca7ff;
  color: white;
}

.white-text {
  color: white !important;
  font-weight: 600 !important;
}


.left-col-menu-active:hover {
  background-color: #2ca7ff
}

.hidden {
  display: none;
}


.left-col-svg {
  margin: 0 auto;
  width: 50%;
  padding-bottom: 20px;
  
}

.center-bottom-leftcol {
  position: absolute;
  bottom: 10px;
  width: 240px;
  margin: 0 auto;
  text-align: center;
}


.center {
  margin: 0 auto;
}

.left-col-menu-item {
  display: flex;
  margin: 0;
  padding: 5px 22px;
  width: 100%;
  cursor: pointer;
}

.left-menu-item {
  display: flex;
  margin: 0;
  margin-left: 10px;
  color: #9090AA;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 0;
}

.left-col-icon {
  height: 14px;
  align-self: center;
}


.Topbar {
  z-index: 200;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
  display: flex;
  flex-shrink: 0;
  padding: 0 20px;
}


.hamburger-icon {
  height: 30px;
  cursor: pointer;
}

.middle-container-top {
  padding: 20px;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
}


.main-message-box {
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  grid-column-start: 1;
  grid-column-end: span 12;
  display: grid;
  grid-column-start: 1;
  padding: 32px 40px;
}


.full-width-box {
  grid-row: 1 / span 1;
  grid-column-end: span 12;
  padding: 0px 20px;
  border-bottom: 1px solid lightgrey;
}


.streak-box {
  grid-row: 1 / span 1;
  grid-column-start: 10;
  grid-column-end: span 3;
  box-shadow: 0 0 10px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  border-radius: 4px;
  padding: 16px 20px;
}


.items-div {
  box-shadow: 0 0 10px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  border-radius: 4px;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: span 12;
  margin-top: 12px;
}

.item-header {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}


.item-row {
  display: flex;
  margin: 0;
  padding: 0;
  padding: 16px 20px;
  border-bottom: 1px solid lightgrey;
}

.item-value {
  font-size: 24px;
  font-weight: 600;
}

.item-details {
  min-width: 220px;
  margin-right: 20px;
}

.item-value-container-top {
  display: flex;
  text-align: center;
}

.item-value-container {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
}

.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.item-value-label {
  padding: 0;
  margin: 0;
  padding-top: 0;
  padding-right: 10px;
  color: grey;
  line-height: 20px;
}

.item-value {
  margin: 0;
  padding: 0;
  color: rgb(105, 0, 255);
}

.chart-container {
  display: block;
  width: 100%;
}


.item-value-row {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: flex;
}

.item-value-row-label {
  text-transform: uppercase;
  font-weight: 600;
  color: grey;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.item-value-row-value {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  float: right;
  text-align: right;
  padding: 0;
  margin: 0;
}


table {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

td {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  box-sizing: border-box;
}

.table-label {
  text-align: left;
  font-size: 14px;
  color: grey;
}

.table-value {
  font-weight: 600;
  text-align: right;
}


.heatmap-container {
  margin: 0 20px 0 20px;
  width: 100%;
}
.message-container {
  display: block;
  padding: 20px 20px;
  margin: 0 auto;
  max-width: 400px;
}

.message-item-wrapper {
  margin-bottom: 10px;
}
.message-item {
  padding: 0;
  margin: 0;
  color: white;
  border-radius: 20px;
  background-color: rgb(0, 135, 246);
  padding: 10px 14px;
  display: inline-block;
  line-height: 18px;
  font-size: 14px;
}


.middle-container-standard {
  padding: 0;
}


.inner-text {
  padding: 18px 28px;
  padding-bottom: 30px;
}

.grey-border-bottom {
  border-bottom: 1px solid lightgrey;
}


.inner-text > p {
  margin: 0;
  margin-bottom: 5px;
}


.item-option-container {
  display: flex;
  flex-direction: row;
}

.item-option {
  border-radius: 4px;
  border: 2px solid lightgrey;
  width: 100%;
  margin-right: 18px;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 12px 20px;
  cursor: pointer;
  background-color: white;
  user-select: none;
}

.item-option-active {
  border: 2px solid #47c2ff;
  box-shadow: 0 0 6px rgba(71, 194, 255, 0.48);
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.no-padding {
  padding: 0;
  margin: 0;
}


.grey-bg {
  background-color: #f6f8f9;
}

.item-option-header-small {
  font-weight: 600;
  font-size: 14px;
}

.item-option-body-small {
  font-size: 14px;
  line-height: 20px;
  color: grey;
  padding: 0;
  margin: 0;
}

.item-customization-row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.item-left-field {
  flex: 0 1 15%;
  max-width: 320px;
  margin-top: 6px;
  margin-bottom: 0;
}

.item-right-input {
  flex: 1 1 85%;
  max-width: 500px;
}

.item-right-input {
  flex: none;
}

.field-helper-text {
  font-weight: 400;
  margin-top: 5px;
  color: #4f566b;
}

.inner-text > .small-header-middle {
  margin-top: 20px;
  margin-bottom: 30px;
}


.object-field-row {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin-bottom: 10px;
}

.object-field-left {
  flex: 0 1 40%;
  margin-right: 20px;
}

.object-field-right {
  flex: 0 1 40%;
  margin-right: 30px;
}

.delete-field-p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  line-height: 20px;
}

.delete-field-span {
  font-weight: 600;
  color: grey;
  cursor: pointer;
  font-size: 14px;
    user-select: none;
}


.object-helper-text {
  margin-top: 0px;
}


.custom-object-block {
  margin-bottom: 40px;
  margin-top: 20px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 20px;
  padding-bottom: 30px;
}


.margin-bottom-20 {
  margin-bottom: 20px;
}




.add-field-btn {
  background-color: rgba(0, 0, 0, 0.08);
  display: inline-block;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  user-select: none;
}

.input {
  font-size: 14px !important;
}

.input::placeholder {
  color: #979797  ;
}

.textarea {
  transition: 0s !important;
  width: 100%;
}

.rc-time-picker-input {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-feature-settings: "tnum";
    width: 170px;
    height: 40px;
    padding: 4px 11px;
    color: #1f1f30;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .2s;


}

.rc-time-picker-input:hover, .rc-time-picker-input:focus {
 background-color: white;; 

 border: 1px solid #d9d9d9;
}


.rc-time-picker-panel-input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    width: 100%;
    color: #1f1f30;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    background-image: none;
    transition: all .2s;
    padding-left: 3.5px;

}

.rc-time-picker-panel-input:focus {
  border: 1px solid #d9d9d9;
}

.rc-time-picker-panel-inner {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 3px;
    border: 1px solid #d9d9d9;
        line-height: 24px;
        border-radius: 4px;
        transition: all .2s;
        width: 170px;
}

.rc-time-picker-clear-icon:after {
  font-size: 16px;
}

.rc-time-picker-panel-select li {
  font-size: 14px;
}


.time-duration-input {
  margin-right: 4px !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  width: 10% !important;
}

.time-duration-input:hover, .time-duration-input:focus { 
  background-color: white !important;
  border: 1px solid #d9d9d9 !important;
  width: 100% !important;
}

.create-item-time-duration-container {
  display: inline-flex;
}

.time-duration-selector {
  flex: 1 1 10%;
}


.create-error-message {
  color: rgba(255, 0, 0, 0.6);
  font-weight: 600;
  font-size: 14px;
  padding: 0;
  margin: 0;
  line-height: 24px;
}


.create-errors-container {
  text-align: center;
  margin-top: 15px;
}


.create-item-button {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 170px;
  height: 50px;
}


.success-green {
  color: rgba(0, 170, 28, 1);
}

.data-input-header-container {
  height: 80px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding: 10px 20px 5px 20px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.arrow {
  margin-top: 20px;;
}

.dates-flexbox {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.date-header {
  margin-top: 5px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
}

.arrow {
  margin: 0;
  margin-top: 20px;
}

.arrow:hover {
  background-color: #EEE;
}

.date-item {
  /* preventing highlight
  since these are used as buttons
  to change the date */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  margin: auto 1%;
  margin-top: 0px;
  cursor: pointer;
  margin-bottom: 0;
  padding: 0px 8px 3px 8px;
}


.date-item-secondary:hover {
  background-color: #EEE;
  border-radius: 4px;
  
}

.today-date:after { 
  margin-top: 2px;
  content:""; 
  float:left; 
  background:rgb(0, 162, 255);
  width:100%; 
  height: 2px; 
  border-radius: 3px;

}

.secondary-dates {
  position: relative;
}

.main-date {
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 0px;
  font-size: 16px;
  color: grey;
}

.sub-date {
  color: grey;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0px;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}



.current-date-main {
  font-size: 24px;
  margin-bottom: 4px;
  color: #1f1f30;
}

.current-date-sub {
  font-size: 16px;
  color: grey;
}


.spinner-content {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}


.save-day-btn {
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  height: 34px;
  width: 110px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0;
  
}

.save-day-btn:hover  {
  box-shadow: 0 0 8px rgb(123, 27, 250);
}


.custom-item-input-container {
  padding: 0;
  margin-bottom: 0px;
  border-left: 1px solid lightgrey;
}



.p-prompt-for-data {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
}


.data-input-row {
  display: block;
  margin-bottom: 30px;
}

.custom-data-input-row {
  margin-bottom: 10px;;
  margin-left: 20px;;
}


.data-input-name {
  margin-bottom: 5px;
}

.data-input-input {
max-width: 250px;

}


.data-input-form-container {
  margin: 0 auto;
}


.integration-box {
  box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 2px 4px -2px;
  transition-duration: 150ms;
    transition-property: box-shadow, -webkit-transform, transform;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    margin-bottom: 24px;
    margin-right: 24px;
    border-radius: 5px;
    cursor: pointer;
    width: 208px;
}

.integration-box:hover {
  box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 8px 10px -4px;
    transform: translateY(-2px);
}


.integration-boxes-wrapper {
  display: flex;
  padding: 40px 20px;
}


.integration-logo {
  max-width: 140px;
  margin: 0 auto;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.integration-box-logo {
  height: 100px;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.integration-box-label {
  border-top: 1px solid rgba(67, 90, 111, 0.1);
  text-align: left;
  font-weight: 600;
  padding: 5px 15px;
  font-size: 14px;
}


.normal-weight {
  font-weight: 400;
}


.small-spinner {
  height: 38px;
  margin-top: -3px;
}

.saved-row {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 0px;;

}

.data-input-saved > input {
  background-color: rgba(0,0,0,0);
  border: 1px solid transparent;
  padding: 0 8px;
}

.data-input-saved > input:hover, .data-input-saved > input:focus {
  box-sizing: border-box;

  width: 100%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .2s;
}

.item-name-saved {
  margin-right: 4px;
  
}

.item-name-saved-subname {
  font-weight: 400;
  margin-right: 4px;
}

.custom-item-name-saved {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.data-input-saved > .input-textarea {
  background-color: transparent;
  border: 1px solid transparent;
  transition: .2s !important;
}

.data-input-saved > .input-textarea:hover, .data-input-saved > .input-textarea:focus {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  align-self: end;
}


.flex-start {
  align-self: flex-start;
  margin-top: 5px;
}

.summary-header {
  margin-bottom: 0px;
  padding-bottom: 0;
}

.summary-hr {
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: rgba(211, 211, 211, 0.5); 
  height: 2px; 
  border: 0;
  
}

.update-name {
  font-size: 14px;
  color: blueviolet;
  cursor: pointer;
}


.update-name:hover {
  text-decoration: underline;
}
.tiny-spinner-saving {
  text-align: left;
  height: 40px;
  margin: auto auto;
  width: auto;
  margin-top: 12px;
}

.inner-text > .no-tracked-items {
  margin-bottom: -10px;;
}

.timepicker-style {
  border: none;
}

.rc-time-picker-panel-input:focus, .rc-time-picker-panel-input:active {
  border: 1px solid transparent;;
}

.rc-time-picker-input::placeholder {
  color: lightgrey;
}

.congrats-on-tracking {
  font-size: 14px;
  margin-top: 0;
  padding-top: 0;;
  color: grey;
}

.timepicker-style-create-page > .rc-time-picker-input{
  width: 100%;
 
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: border 0.2s
}

.purple {
  color: blueviolet;
}

.padding-bottom-10 {
  padding-bottom: 10px;;
}


table, thead, tbody, th, tr, td {
  border: none;
  background: none;;

}

table {
  border-collapse: collapse;
  border-radius: 8px;
  border-style: hidden; /* hide standard table (collapsed) border */
  background: rgb(240, 240, 240);
  text-align: left;
  box-shadow: 0 0 2px grey;
}

td {
  padding: 12px 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  line-height: 22px;
}

tr {
  background-color: white;
  border-collapse: separate;
}

.tr-header {
  background: transparent;
}

.tr-body:hover {
  background-color: rgb(244, 249, 255);
  cursor: pointer;
}



th {
  padding: 5px 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}

tr:last-child td:first-child { border-bottom-left-radius: 8px; }
tr:last-child td:last-child { border-bottom-right-radius: 8px; }


.item-edit-row {
  max-width: 500px;
  margin-bottom: 30px;
}

.item-edit-heading {
  font-weight: 600;
  padding: 0;  
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 20px;
}

.item-edit-subheading {
  color: #808080;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;

}

.item-edit-input {
  margin-top: 100px;
  background: rgba(0,0,0,0);
}

.custom-field-edit {
  font-size: 16px;
  margin-top: 10px;
}

.edit-item-button {
  width: 150px;
  font-weight: 400;
  background: grey;
  border: none;
  margin: 0px 0;
}

.delete-button {
  background: rgb(160, 0, 0);
}

.delete-button:hover {
  background: rgb(185, 0, 0);
}

.archive-button:hover {
  background: rgb(151, 151, 151);
}

.item-edit-type {
  font-weight: 600;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.margin-left-20 {
  margin-left: 20px;
}

.button-pair-container {
  width: 300px;
  display: flex;
  margin: 0 auto;
  
  text-align: center;
}

.cancel-button {
background: lightgrey;
  color: black;
}

.modal-p {
  margin-top: 0px;
}

.no-items {
  text-align: center;
  background-color:white;
  width: 100%;
  padding: 0;
  margin: 0;
}

.archived-item {
  padding-top: 10px;
  color: grey;
  font-weight: 600;
}

.item-name-update {
  display: flex;
}

.update-name-btn {
  margin: 0;

  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 179, 95, 0.8);
  width: 50px;
  padding: 0;

}

form {
  display: contents;

}

.inner-container {
  margin: 0 auto;
  margin-top: 0;
  
  text-align: left;
  width: 100%;
  overflow: auto;
  height: auto;
  width: -webkit-fill-available;
}

.middle-col {
  margin: 0 auto;
  max-width: 500px;
  padding: 80px 20px 40px 20px;
  
}

.create-dashboard-div {
  display: flex;
  width: 100%;
  text-align: left;
  flex-direction: row;

}

.discard-button {
  margin: 0;
font-size: 14px;
background: transparent;
color: grey;
line-height: 20px;;
height: 30px;
width: 80px;
padding: 5px;
}

.discard-button:hover {
  color: #0096d1;
  box-shadow: 0 0 4px lightgrey;
}

.create-dashboard {
  flex: 1 0;
}


.create-dashboard-button {
  font-size: 14px;
  background: #2ca7ff;
  color: white;
  line-height: 20px;;
  height: 30px;
  width: 80px;
  padding: 5px;
  margin-left: 0;
  margin-top: 30px;
}


.onoffswitch {
  position: relative; width: 113px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 35px; padding: 0; line-height: 39px;
  font-size: 16px; 
  color: white; 
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Public";
  padding-left: 15px;
  background-color: #2CA7FF; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "Private";
  padding-right: 15px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 24px; margin: 5.5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 74px;
  border: 2px solid #FFFFFF; border-radius: 50px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

.privacy-switch-container {
  display: flex;
  flex: 1 0;
}

.sub-private-heading {
  align-self: center;
  margin-top: 9px;
  margin-left: 20px;
}

.hr {
  height: 2px;
  border: none;
  background: lightgrey;
}


.emoji-picker-container {
  display: inline-flex;;
  margin-top: 20px;
  position: relative;
}

.emoji {
  flex: 1 0;
  margin: 0;
  font-size: 40px;
  line-height: 30px;;
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.emoji-picker {
  background-color:red;
}

.leftcol-dash-name:hover {
  background-color: rgba(44,167,255,.1);
}

.dashboard-not-found {
  width: 100%;
  text-align: center;
  top: 25%;
  padding-top: 25%;
  
}


.text-center {
  text-align: center;
}

.spinner-button {
  padding-top: 0;
}

.hide-left-col {
  flex: 0 0 0;
}

.left-col-container {
  width: 240px;
}

.inner-container {
  overflow: hidden;
}

.dashboard-container {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.toggle-col {
  width: fit-content;
  font-size: 30px;
  color: lightgrey;
  cursor: pointer;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    line-height: 36px;
}

.dashboard-topbar {
  display: inline-flex;
  border-bottom: 1px solid lightgrey;
  padding: 10px 20px;
  width: inherit;
  margin: 0;
  height: 50px;
}


.dashboard-center-canvas {
  background: white;
  flex: 1 1 0%;
  position: relative;
  outline: none;
  overflow: scroll;
  
}

.dashboard-rightbar {
  overflow: scroll;
  background: rgb(246, 249, 252);
  z-index: 800;
  flex: 0 0 auto;
  position: relative;
  outline: none;
  width: 271px;
  border-left: 1px solid lightgrey;
  padding-bottom: 20px;
}


.split-container {
  display: flex;
  flex: 1 1 0%;
  height: calc(100% - 50px);
  position: initial;
  outline: none;
  overflow: hidden;
  user-select: text;
  flex-direction: row;
  left: 0px;
  right: 0px;
  background: rgb(246, 249, 252);
}


.right-sticky-top {
  position: sticky;
    top: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background: rgb(246, 249, 252);
    padding-left: 10px;
    padding-right: 10px;
}

.search-input {
  width: 100% !important;
  height: auto !important;
  margin: 0 auto !important;
  padding: 4px 10px !important;
  line-height: 18px !important;
  font-size: 12px;

}

.side-component-item {
  margin-top: 10px;
}

.side-component-item {
  border: 1px solid lightgrey;
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: move;
  padding: 10px 10px; 
  background: white;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.side-component-item:active {
  background: rgb(245, 245, 245);
}
.side-component-name {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 10px;
}

.side-component-description {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: grey;
}


.no-components-found {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  line-height: 20px;
}

.layout {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  border-bottom: 1px solid lightgrey;
  min-height: 600px;
}

.component-wrapper {
  /* background: #EFEFEF; */
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* border: 1px solid lightgrey; */
    /* box-shadow: 0 0 3px rgba(0,0,0,.2); */
    border-radius: 8px;
    border: 2px solid transparent;
    background: rgba(0,0,0,.03);
}
.react-draggable-dragging {
  background: rgba(0,0,0,.03);
}
.component-wrapper:focus {
  outline: none !important;
}

.active-component {
  /* outline: none !important; */
  border: 2px solid #47c2ff;
    box-shadow: 0 0 6px rgba(71, 194, 255, 0.48);

}


.react-grid-item.react-grid-placeholder {
  background: lightgreen;
}


.db-component {
  padding: 5px 10px;
  white-space: pre-line;

}

.db-number {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;

}

.db-number-text {
  text-align: center;
  line-height: 18px;
}



.right-bar-input-header {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-top: 5px;
}

.right-bar-input-subheader {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: #808080;
  margin-bottom: 10px;
}

.right-bar-edit-container {
  padding: 20px;
}

.rightbar-helper-text {
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  color: grey;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rightbar-textarea {
  transition: 0s !important;
  max-width: 230px;
  min-width: 230px;
  min-height: 100px;
  font-size: 14px !important;
  line-height: 20px !important;
}

.right-bar-title {
  font-weight: 600;
  margin: 0 auto;

}

.rightcol-button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding: 6px 20px;
}

.db-component > h1 {
  line-height: 42px;
}

.db-component > h2 {
  line-height: 30px;
}

.db-component > p {
  margin: 0;
}

blockquote {
border-left: 10px solid lightgrey;
padding-left: 10px;
padding-top:1px;
padding-bottom: 1px;
}

code {
  font-size: 15px;
}

.db-component > hr {
  border: none;
  border-bottom: 1px solid #b1b1b1
  ;
}

.create-a-variable {
  font-weight: 400;
  cursor: pointer;
  color: #0096d1;
  padding-left: 4px;
}

.create-v-button {
  background: #0096d1;
  width: auto;
  text-align: center;
  height: auto;
  padding: 0;
  margin: 0;
  font-size:14px;
  line-height: 20px;
  padding: 5px 10px;
  margin-top: 20px;
}

.create-v-button:hover {
  background: #5aaecf;
  
  
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.small-input {
  height: auto !important;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px !important;
}

.feedback-bar {
  margin-bottom: 20px;
  display: inline-flex;
  margin-left: 20px;
  margin-right: 20px;
  width: -webkit-fill-available;
  background: white;
  border-radius: 4px;
  padding: 4px 6px;
  box-shadow: 0 2px 5px 0 rgba(60,66,87, 0.12), 0 1px 1px 0 rgba(0,0,0, 0.12);
  position: relative;
}

.feedback-bar-text {
  cursor: text;
  margin: 0;
  padding: 0;
  flex: 1 0;
  font-size: 14px;
  line-height: 20px;
  color: #808080;
}

.feedback-input {
  border: 1px solid blackk;
  position: absolute;
  width: 200px;
  left: 0;
  top:-130px;
  box-shadow: 0 2px 5px 0 rgba(60,66,87, 0.12), 0 1px 1px 0 rgba(0,0,0, 0.12);
  width: 200px;
    height: 150px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(136,152,170,.1), 0 15px 35px 0 rgba(49,49,93,.1), 0 5px 15px 0 rgba(0,0,0,.3);
    border-radius: 4px;
    height: 160px;
}

.feedback-input:focus {
  border: none;
}

.feedback-textarea {
  position: absolute;
  height: 115px !important;
  width: 100%;
  transition: 0s !important;
  resize: none !important;
  border: none !important;
  
}

.feedback-textarea:focus {
border:none !important;
}

.button-pair {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 0;

}

.feedback-cancel-btn {
  height: fit-content;
  margin: 0;
  line-height: 20px;
  padding: 4px 10px;
  background: lightgrey;
  color: black;
  width: fit-content;
  display: inline-flex;
}

.feedback-cancel-btn:hover {
  background: lightgrey;
    color: black;
}

.feedback-submit-btn {
  height: fit-content;
  margin: 0;
  line-height: 20px;
  padding: 4px 10px;
  width: fit-content;
  display: inline-flex;
  position: relative;
}


.spinner-small {
  height: 30px;
  margin: 0;
  padding: 0;
  margin-top: -5px;
}


.spinner-btn {
  height: 28px;
}



.feedback-svg {
  height: 40px;
  margin: 0 auto;
  margin-top: 12px;  
}

.feedback-thanks {
  margin: 0 auto;
  font-weight: 600;
  color: #0096d1;
  font-size: 16px;
  margin-top: 0px;
  line-height: 16px;
  padding: 0;
  margin-top: -5px;
}

.feedback-thanks-2 { 
  margin: 0 auto;
  line-height: 18px;
  font-size: 14px;
  margin-top: 12px;
  padding: 0;
  color: #1f1f30;
}

.feedback-thanks-3 { 
line-height: 20px;
font-size: 12px;
margin-top: 10px;
color: #1f1f30;
}



input:disabled {
  background: rgba(0,0,0,.05);
  color: rgba(0,0,0,0)
}

input:disabled::-webkit-input-placeholder { /* WebKit browsers */
  opacity: 0;
}
input:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity: 0;
}
input:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity: 0;
}
input:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
  opacity: 0;
}

.variable-validation-error {
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  color: rgba(255, 0, 0, 0.6);
}

.button-spinner {
  width: 116.5px;
  height: 30px;

}

.disabled-btn {
  cursor: not-allowed;
  background: lightgrey;
  color: white;
  box-shadow: none;
}

.disabled-btn:hover {
  cursor: not-allowed;
  background: lightgrey;
  color: white;
  box-shadow: none;
}

.add-variable-btn  {
  margin-bottom: 20px;
  margin-top: 0;
}


.ace_editor, .ace_editor span{ 
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ace_line {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.ace-editor-wrapper {
}

.topbar-dashboard-name {
  font-weight: 600;
  width: fit-content;
    font-size: 18px;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    line-height: 36px;
    margin-left: 20px;
}

.topbar-dashboard-description {
  font-weight: 400;
  width: fit-content;
    font-size: 14px;
    color: #808080;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    line-height: 36px;
    margin-left: 20px;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.delete-dashboard {
position: absolute;
margin: 0 auto;
text-align: center;
bottom: 20px;
width: 100%;
}


.delete-dashboard-span {
  cursor: pointer;
}

.delete-dashboard-span:hover {
  color:  #1f1f30;
  cursor: pointer;
}

.db-component-chart {
  height: 100%;
  width: 100%;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center
}

.align-right {
  text-align: right;
}

.onboard-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
}

.onboard-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}

.dashboard-add-an-item {
  text-align: center;
  color: #808080;
  font-weight: 600;
  font-size: 18px;
  top: 200px;
  position: absolute;
  top: 200px;
  z-index: 9;
}

/* .circle-picker > span > div {
  margin-right: 5px !important;
  margin-bottom: 5px !important;
  width: 20px !important;
  height: 20px !important;
} */

.circle-picker {
  margin-top: 5px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.rightbar-input {
  height: 32px !important;
}

